* {
  box-sizing: border-box;
}

.header-content{
  display: flex;
  justify-content: space-between
}

.left{
  display: flex;

}

.logo{
  width: 150px;
  height: 60px;
  padding-top: 12px;
  color: white;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  background-color: #1074c5;
}

.logo-slash{
  color: white;
  font-weight: 100;
}

.search-content{
  width: 300px;
  height: 60px;
  background-color: #dddddd;
}

.right{
  background-color: #f7f7f7;
}
.right-list{
  list-style: none;
  display: flex;
}

.right-list li {
  margin-left: 10px;
  background-color: #dddddd;
}