<%#= link_to  do %>
<div class='game-images'>
  <span class='game-stage'>
  <%binding.pry%>
    <%#= image_tag games.stages[0].images, class: "games-img"%>
</div>
<div class='game-info'>
  <h3 class='game-name'>
    <%= games.name if games %>
  </h3>
</div>
<%# end %>