<div class='game-content'>
  <%= link_to game_path(games) do %>
    <div class='game-container'>
      <div class='game-images'>
        <%= image_tag games.stages[0].image.variant(resize: '200x200'), class: "stage-img" %>
        <% if games.game_objects[0].image %>
        <div class='player-img-container'>
          <%= image_tag games.game_objects[0].image.variant(resize: '200x200'), class: "player-img" %>
        </div>
        <% end %>
      </div>
      <div class='game-info'>
        <h3 class='game-name'>
          <%= games.name if games %>
        </h3>
      </div>
    </div>
  <% end %>
</div>