<%= link_to game_path(games) do %>
<div class="game-content">
  <div class='game-images'>
    <%= image_tag games.stages[0].image.variant(resize: '200x200'), class: "stage-img" %>
  </div>
  <div class='game-info'>
    <h3 class='game-name'>
      <%= games.name if games %>
    </h3>
  </div>
</div>
<% end %>