/* <%= link_to "#" do %> */
<div class='game-images'>
  <span class='game-stage'>
  <%# <%= image_tag game.stage.image, class: "item-img" %>
</div>
<div class='item-info'>
  <h3 class='item-name'>
    タイトル
    <%# <%= item.name %>
  </h3>
</div>