<header class='header-content'>
  <div class='left'>
    <div class='logo'>
      <span>print</span> 
    </div>
    <div class='search-content'>
      <span>検索フォーム</span>
    </div>
  </div>
  <div class='right'> 
    <ul class='right-list'>
      <% if user_signed_in? %>
        <li class='user-icon'>
          <span><%= current_user.name %></span>
        </li>
        <li class='sign-out'>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :DELETE %>
        </li>
      <% else %>
        <li class='sign-in'>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
        <li class='sign-up'>
          <%= link_to 'ユーザー登録', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
