<header class='header-content'>
  <div class='left'>
    <div class='logo'>
      <span>print</span> 
    </div>
    <div class='search-content'>
      <span>検索フォーム</span>
    </div>
  </div>
  <div class='right'> 
    <ul class='right-list'>
      <li class='sign-in'>
        <span>ログイン</span>
      </li>
      <li class='sign-up'>
        <span>ユーザー登録</span>
      </li>
      <li class='user-icon'>
        <span>ユーザーアイコン</span>
      </li>
      <li class='sign-out'>
        <span>ログアウト</span>
      </li>
    </ul>
  </div>
</header>
