<%= render "shared/header" %>
<div class='main'>
  <div class='introduce'>
  </div>
  <div class='game-contents'>
    <%# <%= render partial: 'game', collection: @games %>
  </div>
</div>

<%# games/newへのリンク %>

<% if user_signed_in? %>
  <div class='create-btn'>
    <span class='create-btn-text'>作る</span>
  </div>
<% end %>