.script-modal{
  width: 700px;
  height: 500px;
}

.script-wrapper{
  height: auto;
  background-color: #999999;
}

.script-header{
  height: 50px;
  background-color: #eeeeee;
}

.script-content{
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: #dddddd;
}

.script-list{
  height: 400px;
  width: 30%;
  background-color: #ffffff;
  overflow: auto;
}

.script-field{
  height: 400px;
  width: 70%;
  background-color: #cccccc;
  overflow: auto;
}

.script-card{
  padding: 3px; 
  background-color: #ffffff;
  border: solid 1px #666666;
}

.script-container{
  padding: 1px;
  background-color: #dddddd;
}

.function-name{
}

.script-input{
  height: 100%;
  border: none;
}

.operator{
  height: 15px;
}

.value{
  border: none;
}

.row{
  display: flex;
  flex-direction: row;
}

.active{
  background-color: #99ccee;
}